<template>
  <div class>
    <div class="tab__header">
      <a
        href="#"
        class="p-4 block bg-blue-500 hover:bg-blue-700 no-underline text-white border-b-2 border-white flex justify-between"
        @click.prevent="active = !active"
      >
        <strong>{{title}}</strong>
        <span class="down-Arrow" v-show="!active">&#9660;</span>
        <span class="up-Arrow" v-show="active">&#9650;</span>
      </a>
    </div>
    <div class="tab__content p-2" v-show="active">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "Accordion",
  props: {
    title: String,
    start_active: Boolean
  },
  data: function() {
    return {
      active: this.start_active
    };
  }
};
</script>

<style>
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
</style>
