<template>
  <div>
    <Accordion
      v-for="day in days"
      v-bind:title="day"
      v-bind:key="day"
      v-bind:start_active="day == 'latest builds'"
    >
      <SlotIndexEntry
        v-for="entry in entries(day)"
        v-bind:key="entry.key"
        v-bind:entry="entry"
        v-bind:highlight="current_slot == entry.key"
        v-on:slot-selected="$emit('slot-selected', $event)"
      ></SlotIndexEntry>
    </Accordion>
  </div>
</template>

<script>
import Accordion from "./Accordion.vue";
import SlotIndexEntry from "./SlotIndexEntry.vue";

export default {
  name: "SlotIndex",
  components: {
    SlotIndexEntry,
    Accordion
  },
  props: ["index", "current_slot"],
  computed: {
    latest_entries: function() {
      // entries in index are sorted by day, so the latest entry
      // override previous values in the entries object
      // FIXME: this is kind of silly, but it's fast enough
      var entries = {};
      for (const key in this.index) {
        for (const idx in this.index[key]) {
          entries[this.index[key][idx].slot] = this.index[key][idx];
        }
      }
      // convert entries obect
      var entries_list = [];
      for (const key in entries) {
        entries_list.push(entries[key]);
      }
      entries_list.sort((a, b) => {
        // by construction there are not 2 equal elements
        if (a.slot < b.slot) return -1;
        else return 1;
      });
      return entries_list;
    },
    days: function() {
      var days = [];
      for (const day in this.index) {
        days.push(day);
      }
      days.sort();
      days.push("latest builds");
      days.reverse();
      return days;
    }
  },
  methods: {
    entries: function(day) {
      if (day == "latest builds") {
        return this.latest_entries;
      } else {
        return this.index[day];
      }
    }
  }
};
</script>

<style>
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
</style>
