<template>
  <div v-if="slot_object && slot_object.config">
    <table>
      <tbody>
        <tr v-for="project in slot_object.config.projects" v-bind:key="project.name">
          <td
            v-for="cell in cells[project.name]"
            v-bind:key="'1' + cell.platform + '/' + cell.type"
            class="border w-2 h-2"
            v-bind:class="{ disabled: cell.state == 'disabled',
                                         bad: (cell.state == 'completed') && (cell.errors || cell.FAIL || cell.retcode),
                                         warn: (cell.state == 'completed') && cell.warnings,
                                         good: (cell.state == 'completed') && !(cell.errors || cell.FAIL || cell.retcode || cell.warnings) }"
            v-bind:title="project.name + ' ' + cell.platform + ' ' + cell.type"
          ></td>
        </tr>
      </tbody>
    </table>
    <br />
    <table class="w-full">
      <thead>
        <tr>
          <th v-bind:colspan="(slot_object.config.platforms.length + 1) * 2" class="border">
            <h4>
              <div class="flex">
                <img
                  class="w-6 h-6"
                  v-bind:src="build_tools[slot_object.config.build_tool]"
                  v-bind:alt="slot_object.config.build_tool"
                />
                <a
                  class="flex-auto text-left"
                  v-bind:href="'/nightly/' + slot_object.slot + '/' + slot_object.build_id + '/'"
                >
                  {{slot_object.slot}}/{{slot_object.build_id}}
                  ({{slot_object.date}})
                </a>
                <div>
                  ...buttons...
                  <a
                    v-bind:href="'https://lhcb-nightlies-artifacts.web.cern.ch/lhcb-nightlies-artifacts/nightly/' + slot_object.slot + '/' + slot_object.build_id + '/'"
                    target="_blank"
                    class="btn btn-info"
                  >
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    Browse files
                  </a>
                </div>
              </div>
              <div class="flex">
                <div v-html="slot_object.config.description" class="flex-auto text-left"></div>
                <div>
                  <a
                    v-bind:href="'https://lhcb-couchdb.cern.ch/nightlies-nightly/' + slot_object._id"
                    target="_blank"
                  >
                    <img class="w-6 h-6" src="../assets/couchdb.png" alt="CouchDB Entry" />
                  </a>
                </div>
              </div>
            </h4>
          </th>
        </tr>
        <tr>
          <th class="border">
            Project
            <a
              v-if="slot_object.checkout && slot_object.checkout.build_url"
              v-bind:href="slot_object.checkout.build_url + 'console'"
              target="_blank"
            >
              <img class="inline" src="../assets/jenkins_16.png" alt="Jenkins checkout job" />
            </a>
          </th>
          <th class="border">Version</th>
          <th
            v-for="platform in slot_object.config.platforms"
            v-bind:key="platform"
            class="border"
            colspan="2"
          >{{platform}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="project in slot_object.config.projects" v-bind:key="project.name">
          <td class="border" v-bind:class="{ disabled: project.disabled }">{{project.name}}</td>
          <td class="border" v-bind:class="{ disabled: project.disabled }">{{project.version}}</td>
          <td
            v-for="cell in cells[project.name]"
            v-bind:key="cell.platform + '/' + cell.type"
            class="border text-center"
            v-bind:class="{ disabled: cell.state == 'disabled',
                                     bad: (cell.state == 'completed') && (cell.errors || cell.FAIL || cell.retcode),
                                     warn: (cell.state == 'completed') && cell.warnings,
                                     good: (cell.state == 'completed') && !(cell.errors || cell.FAIL || cell.retcode || cell.warnings) }"
          >
            <span v-if="cell.state == 'completed'">
              {{cell.type}}
              <span v-if="cell.errors">(e:{{cell.errors}})</span>
              <span v-else-if="cell.FAIL">(f:{{cell.FAIL}})</span>
              <span v-else-if="cell.retcode">(r:{{cell.retcode}})</span>
              <span v-else-if="cell.warnings">(w:{{cell.warnings}})</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div v-else class="p-10 text-center">please, select a slot</div>
</template>

<script>
export default {
  props: {
    slot_object: Object
  },
  data: function() {
    return {
      build_tools: {
        cmake: require("../assets/cmake.png"),
        cmt: require("../assets/cmt.png")
      }
    };
  },
  computed: {
    cells: function() {
      var data = {};
      for (const proj_idx in this.slot_object.config.projects) {
        var name = this.slot_object.config.projects[proj_idx].name;
        var disabled = this.slot_object.config.projects[proj_idx].disabled;
        var no_test = this.slot_object.config.projects[proj_idx].no_test;
        var row = [];
        for (const plat_idx in this.slot_object.config.platforms) {
          var platform = this.slot_object.config.platforms[plat_idx];
          if (
            this.slot_object.builds &&
            this.slot_object.builds[platform] &&
            this.slot_object.builds[platform][name]
          ) {
            row.push({
              type: "build",
              platform: platform,
              state: "completed",
              errors: this.slot_object.builds[platform][name].errors,
              retcode: this.slot_object.builds[platform][name].retcode,
              warnings: this.slot_object.builds[platform][name].warnings
            });
          } else {
            row.push({
              type: "build",
              platform: platform,
              state: disabled ? "disabled" : "pending"
            });
          }
          if (
            this.slot_object.tests &&
            this.slot_object.tests[platform] &&
            this.slot_object.tests[platform][name] &&
            this.slot_object.tests[platform][name].results
          ) {
            row.push({
              type: "tests",
              platform: platform,
              state: "completed",
              FAIL: this.slot_object.tests[platform][name].results.FAIL
                ? this.slot_object.tests[platform][name].results.FAIL.length
                : 0
            });
          } else {
            row.push({
              type: "tests",
              platform: platform,
              state: disabled || no_test ? "disabled" : "pending"
            });
          }
        }
        data[name] = row;
      }
      return data;
    }
  }
};
</script>
<style scoped>
td.good {
  background-color: green;
}

td.warn {
  background-color: orange;
}

td.bad {
  background-color: red;
}

td.disabled {
  background-color: gray;
}
</style>
