<template>
  <div :class="classObject" v-on:click="$emit('slot-selected', entry.key)">
    {{ entry.slot }}/{{ entry.id }}
    <span v-if="show_date">({{entry.date}})</span>
  </div>
</template>

<script>
export default {
  name: "SlotIndexEntry",
  props: {
    entry: Object,
    show_date: Boolean,
    highlight: Boolean
  },
  computed: {
    classObject: function() {
      return {
        "bg-gray-100": !this.highlight,
        "hover:bg-gray-300": !this.highlight,
        "bg-blue-200": this.highlight,
        "hover:bg-blue-300": this.highlight
      };
    }
  }
};
</script>
