<template>
  <div class="flex h-screen">
    <div class="flex-auto overflow-scroll">
      <SlotTable v-bind:slot_object="slot_data"></SlotTable>
    </div>
    <div class="w-1/4 overflow-y-scroll">
      <SlotIndex
        v-bind:index="index"
        v-bind:current_slot="slot_data._id"
        v-on:slot-selected="onSlotSelected"
      ></SlotIndex>
    </div>
  </div>
</template>

<script>
import SlotIndex from "./components/SlotIndex.vue";
import SlotTable from "./components/SlotTable.vue";

const { DateTime } = require("luxon");

export default {
  name: "App",
  components: {
    SlotIndex,
    SlotTable
  },
  data: function() {
    return {
      index: [],
      slot_data: {}
    };
  },
  methods: {
    onSlotSelected: function(key) {
      if (this.slot_data._id != key) {
        console.log("loading " + key);
        this.slot_data = {
          _id: key,
          slot: "loading " + key
        };
        fetch("https://lhcb-couchdb.cern.ch/nightlies-nightly/" + key).then(
          async response => {
            this.slot_data = await response.json();
          }
        );
        window.location.href = window.location.href.split("#")[0] + "#" + key;
      }
    }
  },
  created: function() {
    var since = DateTime.utc()
      .setZone("Europe/Zurich")
      .minus({
        days: 6
      })
      .startOf("day")
      .toISODate();
    fetch(
      "https://lhcb-couchdb.cern.ch/nightlies-nightly/_design/summaries/_view/byDay?startkey=" +
        JSON.stringify(since)
    ).then(async response => {
      let data = await response.json();
      var index = {};
      for (const idx in data.rows) {
        const row = data.rows[idx];
        if (!(row.key in index)) {
          index[row.key] = [];
        }
        //console.log(row)
        index[row.key].push({
          slot: row.value.slot,
          id: row.value.build_id,
          key: row.id,
          date: row.key
        });
      }
      this.index = index;
    });
  },
  mounted: function() {
    var parts = window.location.href.split("#");
    if (parts.length > 1) this.onSlotSelected(parts[1]);
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
